@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'EB Garamond', serif;
}

@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
    filter: blur(8px);
    scale: 0.99;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
    scale: 1;
  }
}

@keyframes slideUpFadeInFurther {
  from {
    opacity: 0;
    transform: translateY(8px);
    filter: blur(8px);
    scale: 0.99;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
    scale: 1;
  }
}

.fade-in-image {
  animation: fadeIn 1.5s ease-in-out forwards;
  opacity: 0;
}

.fade-in-delayed {
  animation: slideUpFadeIn 0.8s ease-in-out 0s forwards;
  opacity: 0;
}

.fade-in-delayed-2 {
  animation: slideUpFadeInFurther 0.8s ease-in-out 0.5s forwards;
  opacity: 0;
}
