---
import * as about from "../content/about.md";
import { format } from "date-fns";
---

<div class="flex flex-col items-center justify-between">
    <div class="flex w-full flex-row items-baseline justify-between">
        <p class="text-md font-light text-[#99AABB] uppercase select-none">
            {about.frontmatter.title}
        </p>
        <p class="text-xs font-light text-[#99AABB]/80 uppercase">
            Updated {format(about.frontmatter.date, "MMMM d, yyyy")}
        </p>
    </div>
    <div class="mt-1 h-[1px] w-full bg-[#99AABB]/40"></div>
    <div
        class="prose-p:pt-3 prose-a:text-white prose-a:hover:text-green-400 prose-a:no-underline prose-a:font-sans prose-a:text-lg w-full font-serif text-lg text-[#99AABB]"
    >
        <about.Content />
    </div>
</div>
