---
import * as about from '../content/about.md';
import { format, parse } from 'date-fns';
---

<div class="flex flex-col items-center justify-between">
    <div class="w-full flex flex-row items-baseline justify-between">
        <p class="text-[#99AABB] text-md font-light uppercase select-none">{about.frontmatter.title}</p>
        <p class="text-[#99AABB]/80 text-xs font-light uppercase">Updated {format(parse(about.frontmatter.date, 'dd/MM/yyyy', new Date()), 'MMMM d, yyyy')}</p>
    </div>
    <div class="w-full h-[1px] bg-[#99AABB]/40 mt-1"></div>
    <div class="text-[#99AABB] font-serif text-lg w-full prose-p:pt-3">
        <about.Content />
    </div>
</div>