---
import { getCollection } from 'astro:content';
import { format, parse } from 'date-fns';

const posts = (await getCollection('blog')).sort((a, b) => {
  const dateA = parse(a.data.date, 'dd/MM/yy', new Date());
  const dateB = parse(b.data.date, 'dd/MM/yy', new Date());
  return dateB.getTime() - dateA.getTime();
});
---

<div class="flex flex-col items-center justify-between">
    <p class="w-full text-[#99AABB] text-md font-light uppercase select-none">Posts</p>
    <div class="w-full h-[1px] bg-[#99AABB]/40 mt-1"></div>
    <ul class="w-full mt-2">
        {posts.map((post) => (
            <li class="text-white hover:text-green-400 text-sm">
                <a href={`/blog/${post.slug}`} >{post.data.title} <span class="text-[#99AABB] text-xs font-light">{format(parse(post.data.date, 'dd/MM/yy', new Date()), 'MMMM d, yyyy')}</span></a>
            </li>
        ))}
    </ul>
</div>