---
import * as projects from '../content/projects.md';
import { format, parse } from 'date-fns';
---

<div class="flex flex-col items-center justify-between">
    <div class="w-full flex flex-row items-baseline justify-between">
        <p class="text-[#99AABB] text-md font-light uppercase select-none">{projects.frontmatter.title}</p>
    </div>
    <div class="w-full h-[1px] bg-[#99AABB]/40 mt-1"></div>
    <div class="pt-2 prose prose-invert w-full prose-strong:text-sm prose-a:text-white prose-a:hover:text-green-400 prose-a:no-underline prose-p:text-xs prose-p:font-light prose-p:text-[#99AABB] prose-a:text-sm ">
        <projects.Content />
    </div>
</div>